.nav-links{
  font-size: 25px;
  font-weight:bold;
}
.bg-whites{
  background-color: #CDCD00;
}
.admin{
  /* min-height: 100vh; */
 /*  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */

   padding: 15px;
  background: rgb(7, 31, 56);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(167, 138, 204), rgb(117, 47, 145), rgb(63, 0, 105)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*   background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
.nav-item{
  color:rgb(211, 161, 231);

}
.fontcolor{
  color:white;
}
.bord{
  background-color: #7d0096;
}


/* main-header navbar navbar-expand navbar-light border-bottom bord */

.brand-text{
  color:rgb(211, 161, 231);
}
