<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <nav
      class="main-header navbar navbar-expand navbar-light border-bottom bord"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"
            ><i class="fa fa-bars"></i
          ></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <span class="brand-text font-weight-light nav-links store"
            >Store</span
          >
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button mat-button (click)="logout()">Logout</button>
        </li>
      </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <div class="bord">
        <a href="index3.html" class="brand-link">
          <img
            src="assets/dist/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: .8"
          />
          <span class="brand-text font-weight-light">Menu</span>
        </a>
      </div>
      <div class="sidebar admin">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img
              src="assets/dist/img/user2-160x160.jpg"
              class="img-circle elevation-2"
              alt="User Image"
            />
          </div>
          <div class="info">
            <a href="#" class="d-block">{{firebaseService.laundryAccount.namestore}}</a>
          </div>
        </div>

        <nav class="mt-2">
          <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
          >
            <li class="nav-item has-treeview">
              <a routerLink="/edit-store" class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <p>
                  แก้ไขข้อมูล
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a routerLink="/checkorder" class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <p>
                  Check order
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a routerLink="/status-customer" class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <p>
                  <span
                    [matBadge]="newOrder"
                    matBadgeOverlap="false"
                    matBadgeColor="accent"
                    >สถานะคำสั่งลูกค้า</span
                  >
                </p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a routerLink="/status-money" class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <p>
                  สถานะการส่งให้ลูกค้า/เงิน
                </p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>

    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <ng-content></ng-content>
        </div>
      </section>
    </div>

    <aside class="control-sidebar control-sidebar-dark"></aside>
  </div>
</body>
