<app-menu-admin>
  <div align="center">
    <mat-card class="card" style="width:80%" >
      <br>
      <br>
      <h2>รายการซักรีด</h2>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ลำดับ</th>
          <th scope="col">รหัสรายการ</th>
          <th scope="col">ชื่อลูกค้า</th>
          <th scope="col">ชื่อBiker</th>
          <th scope="col">ชื่อร้านซักรีด</th>
          <th> &nbsp;  &nbsp; </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>W1</td>
          <td>suradet</td>
          <td>somporn</td>
          <td>ป้าใจดี</td>
          <td><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>W2</td>
          <td>somdet</td>
          <td>sompran</td>
          <td>ป้าใจร้าย</td>
          <td><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> <td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>W3</td>
          <td>somdet</td>
          <td>somsee</td>
          <td>ป้าใจดี</td>
          <td><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> <td></td>
        </tr>
        </tbody>
      </table>
      <div align="center"><button mat-raised-button color="primary"  >  ลบ</button></div>


    </mat-card>
  </div>
</app-menu-admin>
